.App {
  min-height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: #222;
  color: #ddd;
  font-family: Arial, Helvetica, sans-serif;
}

h1{cursor: pointer;}

.banner {
  position: fixed;
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: hsl(0, 0%, 0%, 0.6);
  font-size: 6rem;
  z-index: 10;
}

.navbar{
  display: flex;
}

.nav-items{
  font-size: 1.5rem;
  cursor: pointer;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: hsl(0, 0, 0, 0.25);
  cursor: pointer;
  font-size: 2rem;
  font-weight: bolder;
  z-index: 10;

  &[data-direction='left']{
  left: 12px;    
  }

  &[data-direction='right']{
  right: 12px;    
  }
}

.slide-container{
  width: 400vw;
  display: flex;
}

.slide-wrapper {
  width: 100vw;
  height: 100vh;
  font-size: 15rem;
  color: #222;
  display: flex;
  align-items: center;
  justify-content: center;

  @for $i from 1 through 4 {
    &:nth-of-type(#{$i}) {
      background: hsl($i * 30deg, 100%, 50%);
      left: ($i - 1) * 100vw;
    }
  }
}
